/* Carousel Control Buttons */
.carousel-control-prev,
.carousel-control-next {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  width: 40px; /* Button width */
  height: 40px; /* Button height */
  border-radius: 50%; /* Make buttons circular */
  top: 50%; /* Center vertically */
  transform: translateY(-50%); /* Center vertically */
}

.carousel-control-prev {
  left: 15px; /* Position the previous button */
}

.carousel-control-next {
  right: 15px; /* Position the next button */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1); /* Make the arrow icons white */
}

.back-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 15px;
  font-size: 1.2rem;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1000;
}